* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
}
.sidebar {
  background-color: gray;
  width: 15em;
  height: 100vh;
}
.trip-days-individual:hover {
  background-color: darkgray;
}
.active {
  background-color: red;
}
.day-info {
  background-color: lightgray;
  width: 100vw;
}
.day-info-form-container {
  display: flex;
  width: 100%;
}
.day-info-form-content {
  display: flex;
  flex-direction: column;
  width: 15rem;
}